# Ignorar carpetas de caché de Python
__pycache__/
*.pyc

# Ignorar configuraciones de entorno virtual
env/
venv/

# Ignorar archivos del sistema
.DS_Store
Thumbs.db

# Ignorar ficheros temporales de VSCode
.vscode/g